<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.smartstore.mapper.ProductMapper">

  <insert id="insertProduct" parameterType="ProductDto">
    INSERT INTO product (product_name, category_id, price, amount, main_img,
                         detail_img, description, store_id)
    VALUES (#{name}, #{category}, #{price}, #{amount}, #{mainImage}, #{detailImage}, #{description},
            #{storeId});
  </insert>

  <select id="selectProductList" parameterType="SearchConditionDto" resultType="ProductDto">
    SELECT product_name, category_id, price, main_img
    FROM smartstore_db.product
    <where>
      <if test="@framework.util.CommonUtil@notEmpty(categoryId)">
        category_id = #{categoryId}
      </if>
      <if test="@framework.util.CommonUtil@notEmpty(searchKeyword)">
        AND (product_name LIKE CONCAT('%',#{searchKeyword},'%') OR description LIKE
        CONCAT('%',#{searchKeyword},'%'));
      </if>
    </where>
  </select>

</mapper>