<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.smartstore.mapper.ProductMapper">

  <insert id="insertProduct" parameterType="ProductDto">
    INSERT INTO product (product_name, category_id, price, amount, main_img,
                         detail_img, description, store_id)
    VALUES (#{name}, #{category}, #{price}, #{amount}, #{mainImage}, #{detailImage}, #{description},
            #{storeId});
  </insert>

  <select id="selectProductList" parameterType="SearchConditionDto" resultType="ProductListDto">
    SELECT product_id AS productId,
           product_name AS productName,
           category_id AS categoryId,
           price,
           main_img AS mainImg
    FROM smartstore_db.product
    <where>
      <if test="categoryId != null">
        category_id = #{categoryId}
      </if>
      <if test="searchKeyword != null">
        AND (product_name LIKE CONCAT('%',#{searchKeyword},'%')
        OR description LIKE CONCAT('%',#{searchKeyword},'%'));
      </if>
    </where>
  </select>

</mapper>