<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.smartstore.mapper.UserMapper">

    <insert id="insertUser" parameterType="UserDto">
        INSERT INTO member(id, password, name, phone, type)
        VALUES(#{id}, #{password}, #{name}, #{phone}, #{type})
    </insert>

    <select id="isUsingId" parameterType="String" resultType="boolean">
        SELECT EXISTS
        (SELECT id FROM member WHERE id = #{id})
    </select>

    <select id="findUserById" parameterType="UserDto" resultType="UserDto">
      SELECT ID , PASSWORD
      FROM member
      where id = #{id}
    </select>

    <select id="findUserByIdAndPassword" parameterType="UserDto"  resultType="UserDto" >
      SELECT ID, PHONE, NAME, TYPE
      FROM member
      where id = #{id}
      AND PASSWORD = #{password}
    </select>

    <update id="updateUser" parameterType="UserDto">
      UPDATE MEMBER
         SET NAME = #{name},
             PHONE = #{phone},
             TYPE = #{type}
       WHERE ID = #{id}
    </update>
</mapper>