<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.project.smartstore.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.project.smartstore.dto.UserDto">
        INSERT INTO member(id, password, name, phone, type, address1, address2, reg_dt)
        VALUES(#{id}, #{password}, #{name}, #{phone}, #{type}, #{address1}, #{address2}, current_timestamp)
    </insert>

    <select id="isUsingId" parameterType="String" resultType="boolean">
        SELECT EXISTS (SELECT id FROM member WHERE id = #{id})
    </select>

    <select id="findUserById" parameterType="com.project.smartstore.dto.UserDto" resultType="com.project.smartstore.dto.UserDto">
        SELECT id, phone, name, type
        FROM member
        WHERE id = #{id}
    </select>

    <select id="findUserByIdAndPassword" parameterType="com.project.smartstore.dto.UserDto" resultType="com.project.smartstore.dto.UserDto">
        SELECT id, phone, name, type
        FROM member
        WHERE id = #{id} AND password = #{password}
    </select>

    <update id="updateUser" parameterType="com.project.smartstore.dto.UserDto">
        UPDATE member
        SET name = #{name},
        phone = #{phone},
        type = #{type}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="com.project.smartstore.dto.UserDto">
        DELETE FROM member
        WHERE id = #{id} AND password = #{password}
    </delete>
</mapper>